[submodule "LearningEngine/vendor/imgui"]
    path = LearningEngine/vendor/imgui
    url = https://github.com/TheCherno/imgui
[submodule "LearningEngine/vendor/spdlog"]
	path = LearningEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LearningEngine/vendor/GLFW"]
	path = LearningEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
